/* body {
  background: url(coffee-apple.png) no-repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}

#grad {
  background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
} */
body {
  background-image: repeating-radial-gradient(black, black 10%, blue 15%);
}